<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DXApplication2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
   <connectionStrings>
      <add name="BdatoContainer" connectionString="metadata=res://*/Bdato.csdl|res://*/Bdato.ssdl|res://*/Bdato.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=11.6.2.102\ION;initial catalog=Contabilidad;persist security info=True;user id=sa;password=ION!Everywhere;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
      <add name="ContabilidadEntities" connectionString="metadata=res://*/DBData.csdl|res://*/DBData.ssdl|res://*/DBData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=11.6.2.103\ION;initial catalog=pultima2;persist security info=True;user id=sa;password=ION!Everywhere;multipleactiveresultsets=True;application name=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
      <add name="DXApplication2.Properties.Settings.ContabilidadConnectionString"
         connectionString="Data Source=SNE-SERVER\SQLEXP2014;Initial Catalog=test328;Persist Security Info=True;User ID=sa;Password=sne@123"
         providerName="System.Data.SqlClient" />
   </connectionStrings>

  
  <userSettings>
    <DXApplication2.Properties.Settings>
      <setting name="SQLConn" serializeAs="String">
        <value />
      </setting>
      <setting name="First" serializeAs="String">
        <value>True</value>
      </setting>
    </DXApplication2.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>